/* Image style */
#scrollUp {
    background-image: url("../img/suw-top.png");
    background-color: rgba(0,0,0,0.8);
    border-radius: 100%;
    color: white;
    bottom: 20px;
    right: 20px;
    width: 38px;    /* Width of image */
    height: 38px;   /* Height of image */
    display: block;
}
